*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #f9f8f6;
}

main{
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 10px;
    padding: 10px;

    & button{
        width: 80px;
        padding: 5px;
        background-color: #ffcc00 ;
        border: none;
        border-radius: 10px;
        align-self: end;
    }
}

nav{
    background-color: #f3e5ab ;
    padding: 15px;

    & a{
        text-decoration: none;
        color: black;
        padding: 7px;
        background-color: #ffcc00;
        border-radius: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
}